
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
  <head>
    <!-- Site Title-->
    <title>About</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic,900,900italic%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar rd-navbar-static">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html" class="brand-name">Wedding Planner</a></div>
                <div class="rd-navbar-contact-info-wrapper">
                  <div data-rd-navbar-toggle=".rd-navbar-contact-info-inner" class="rd-navbar-collapse-toggle"><span></span></div>
                  <div class="rd-navbar-contact-info-inner"><a href="callto:#" class="rd-navbar-contact-info">1-800-1234-567</a></div>
                </div>
                <!-- RD Navbar Toggle-->
                <div class="rd-navbar-toggle-wrap"><a href="#" data-rd-navbar-toggle=".rd-navbar-nav-wrap, .rd-navbar-panel" class="rd-navbar-toggle-inner"><span class="rd-navbar-toggle-title">MENU</span>
                    <div class="rd-navbar-toggle"><span></span></div></a></div>
              </div>
              <!-- RD Navbar Canvas-->
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li><a href="./">Home</a></li>
                  <li class="active"><a href="about.html">About</a></li>
                  <li><a href="services.html">Services</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Decoration</a></li>
                      <li><a href="#">Entertainment Options</a></li>
                      <li><a href="#">Transportation</a>
                        <!-- RD Navbar dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="#">limousine</a></li>
                          <li><a href="#">cortege</a></li>
                          <li><a href="#">crews</a></li>
                          <li><a href="404.html">404</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Special Events</a></li>
                      <li><a href="#">Themed Weddings</a></li>
                      <li><a href="#">Catering</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">blog</a></li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
              </div>
              <div class="rd-navbar-canvas"></div>
            </div>
          </nav>
        </div>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="section-60 section-lg-110">
          <div class="shell">
            <h2>Congratulations</h2>
            <p class="offset-top-45 offset-md-top-67 font-accent">You’ve recently said “yes” to the love of your life. Now before you say “I do”, let the wedding experts at Wedding Planner help you with the wedding planning process ahead. Wedding Planner  is a wedding planning boutique offering distinctive weddings for the not so average bride. We are dedicated to making your vision a reality and creating an unforgettable event.</p>
            <div class="range text-md-left range-xs-center">
              <div class="cell-md-4 cell-sm-6"><img src="images/about-01.jpg" width="370" height="350" alt="" class="img-responsive center-block">
                <h4 class="offset-top-30">Elizabeth Carroll</h4>
                <p class="text-uppercase text-gray text-spacing-100 text-bold">Head Wedding Planner</p>
                <p class="font-accent">Elizabeth has always had a passion for organization. Her outgoing spirit led her to the field of marketing, where her career began upon graduation from Baylor University. She started Wedding Planner in the fall of 2009 with a backyard wedding of about 40 guests. It has since grown into a blossoming boutique, producing about 25 weddings a year.</p>
              </div>
              <div class="cell-md-4 cell-sm-6 offset-top-45 offset-sm-top-0"><img src="images/about-02.jpg" width="370" height="350" alt="" class="img-responsive center-block">
                <h4 class="offset-top-30">Amanda Moreno</h4>
                <p class="text-uppercase text-gray text-spacing-100 text-bold">Wedding Planner</p>
                <p class="font-accent">Amanda loves to tie all the details of a wedding together. She feels it’s a privilege to share in a couple's happiest day. Amanda has eight years of wedding planning experience, helping plan events in Seattle, Portland, and all over the Lonestar State. She has her Bachelor in Marketing from the University of Texas at Tyler.</p>
              </div>
              <div class="cell-md-4 cell-sm-6 offset-top-45 offset-md-top-0"><img src="images/about-03.jpg" width="370" height="350" alt="" class="img-responsive center-block">
                <h4 class="offset-top-30">Tracy Dean</h4>
                <p class="text-uppercase text-gray text-spacing-100 text-bold">Wedding Coordinator </p>
                <p class="font-accent">Brides, family, friends and vendors alike appreciate Tracy’s no-nonsense approach and helpful attitude. Her background in account management keeps her and everyone around her on task and happy to be a part of something as special as your wedding. Tracy has a BS in Journalism from the University of North Texas.</p>
              </div>
            </div>
          </div>
        </section>
        <!-- RD Parallax-->
        <section class="rd-parallax context-dark">
          <div data-speed="0.3" data-type="media" data-url="images/about-04.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell section-md-110 section-60">
              <div class="range range-xs-center">
                <div class="cell-lg-8 cell-md-10">
                  <div class="border-block border-block-variant-3 text-md-left relative"><span class="decor"></span>
                    <h2 class="text-ubold">About Wedding <br class="veil reveal-sm-block"> Planner</h2>
                    <div class="border-block-inset font-accent">
                      <p>
                        Based in Athens, GA, Wedding Planner offers wedding planning services that range from full service planning to month-of-coordination. Because all weddings are unique, we strive to offer each bride a unique experience that fits her wants and needs.
                        
                      </p>
                      <p class="offset-top-45">
                        Since our first wedding conducted in 2007, we have always organized successful wedding ceremonies. Whether it was catering, designing floral arrangements, or planning, we've enjoyed all aspects of the wedding day. Wedding Planner is the result of years of hard work serving others on this special day. We are passionate about providing quality customer services and working directly with the brides.
                        
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-60 section-lg-110">
          <div class="shell">
            <h2>Preferred Professionals</h2>
            <div class="range range-xs-center offset-top-45 offset-md-top-67">
              <div class="cell-md-10">
                <p class="font-accent">The staff at Wedding Planner is totally committed to providing our clients with a memorable event experience that will exceed their expectations. Listed below are our recommended professionals who we believe will provide excellent and professional service for your event. Please mention Wedding Planner when you make your initial contact.</p>
              </div>
            </div>
            <div class="range text-md-left range-xs-center offse-top-45 link-primary">
              <div class="cell-md-6">
                <h4 class="text-center text-lg-left">Bakers</h4>
                <div class="range offset-top-30">
                  <div class="cell-sm-6"><img src="images/about-05.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Jason Barrett <br>8901 Marmora Road, Glasgow, D04 89GR.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                  <div class="cell-sm-6"><img src="images/about-06.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Alan Douglas <br>9863 - 9867 Mill Road, Cambridge, MG09.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                </div>
              </div>
              <div class="cell-md-6">
                <h4 class="text-center text-lg-left">Hairdressers</h4>
                <div class="range offset-top-30">
                  <div class="cell-sm-6"><img src="images/about-07.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Tiffany Franklin <br>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                  <div class="cell-sm-6"><img src="images/about-08.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Gloria Tran <br>8901 Marmora Road, Glasgow, D04 89GR.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                </div>
              </div>
              <div class="offset-top-45 range">
                <div class="cell-sm-6 cell-md-3">
                  <h4 class="text-center text-lg-left">Caterer</h4><img src="images/about-10.jpg" width="270" height="270" alt="" class="offset-top-30 img-responsive center-block">
                  <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Crystal Banks <br>9863 - 9867 Mill Road, Cambridge, MG09 99HT.</p>
                  <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                  <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                </div>
                <div class="cell-sm-6 cell-md-3">
                  <h4 class="text-center text-lg-left text-md-nowrap">Limousine Driver</h4><img src="images/about-11.jpg" width="270" height="270" alt="" class="offset-top-30 img-responsive center-block">
                  <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">John Smith <br>8901 Marmora Road, Glasgow, D04 89GR.</p>
                  <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                  <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                </div>
                <div class="cell-md-6">
                  <h4 class="text-center text-lg-left">Florists</h4>
                  <div class="range offset-top-30">
                    <div class="cell-sm-6"><img src="images/about-12.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                      <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Amanda Taylor <br>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                      <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                      <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                    </div>
                    <div class="cell-sm-6"><img src="images/about-13.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                      <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Mark Stewart <br>8901 Marmora Road, Glasgow, D04 89GR.</p>
                      <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                      <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                    </div>
                  </div>
                </div>
                <div class="range offset-top-30">
                  <div class="cell-sm-6 cell-md-3">
                    <h4 class="text-center text-lg-left">Jeweller</h4><img src="images/about-14.jpg" width="270" height="270" alt="" class="offset-top-30 img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Kathleen Torres <br>9863 - 9867 Mill Road, Cambridge, MG09.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                  <div class="cell-sm-6 cell-md-3">
                    <h4 class="text-center text-lg-left">Videographer</h4><img src="images/about-15.jpg" width="270" height="270" alt="" class="offset-top-30 img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Patrick Tucker <br>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                  <div class="cell-sm-6 cell-md-3 offset-top-45 offset-md-top-0">
                    <h4 class="text-center text-lg-left">Performer</h4><img src="images/about-16.jpg" width="270" height="270" alt="" class="offset-top-30 img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Andrew Moreno <br>8901 Marmora Road, Glasgow, D04 89GR.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                  <div class="cell-sm-6 cell-md-3 offset-top-45 offset-md-top-0">
                    <h4 class="text-center text-lg-left">Officiant</h4><img src="images/about-17.jpg" width="270" height="270" alt="" class="offset-top-30 img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Russell Jacobs <br>9863 - 9867 Mill Road, Cambridge, MG09.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                </div>
                <div class="range offset-top-45 range-xs-center">
                  <div class="cell-md-9">
                    <h4 class="text-center text-lg-left">Photographers</h4>
                    <div class="range offset-top-30 range-xs-center">
                      <div class="cell-sm-6 cell-md-4"><img src="images/about-18.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                        <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Bobby Elliott <br>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                        <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                        <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                      </div>
                      <div class="cell-sm-6 cell-md-4"><img src="images/about-19.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                        <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Kathryn Nichols <br>8901 Marmora Road, Glasgow, D04 89GR.</p>
                        <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                        <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                      </div>
                      <div class="cell-md-4 cell-sm-8 offset-top-45 offset-md-top-0"><img src="images/about-20.jpg" width="270" height="270" alt="" class="img-responsive center-block">
                        <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Raymond Olson <br>9863 - 9867 Mill Road, Cambridge, MG09.</p>
                        <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                        <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                      </div>
                    </div>
                  </div>
                  <div class="cell-sm-8 cell-md-3 offset-top-45 offset-md-top-0">
                    <h4 class="text-center text-lg-left">Travel agent</h4><img src="images/about-21.jpg" width="270" height="270" alt="" class="offset-top-30 img-responsive center-block">
                    <p class="offset-top-30 text-height-24 text-uppercase text-gray text-spacing-100 text-bold">Douglas Ortiz <br>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
                    <p class="offset-top-16 offset-bottom-0 font-accent">Telephone: <a href="callto:#" class="text-dark reveal-inline-block">+1 800 559 6580</a></p>
                    <p class="font-accent">E-mail: <a href="mailto:#" class="text-dark">mail@demolink.org</a></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-footer">
        <div class="shell text-sm-left">
          <div class="range">
            <div class="cell-sm-6 cell-lg-4 cell-md-3 cell-md-push-1">
              <ul class="list heading">
                <li><a href="./">HOME</a></li>
                <li class="active"><a href="about.html">about</a></li>
                <li><a href="services.html">services</a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="contacts.html">contacts</a></li>
              </ul>
            </div>
            <div class="cell-md-3 cell-sm-6 cell-lg-2 cell-md-push-1">
              <div class="heading">Main office:</div>
              <p class="font-accent">4578 Marmora Road, Glasgow D04 89GR</p>
              <div class="offset-top-30 offset-md-top-60 heading">tel.:</div>
              <p class="font-accent"><a href="callto:#">1-800-1234-567</a></p>
            </div>
            <div class="offset-top-30 offset-md-top-0 cell-md-3 cell-lg-2 cell-sm-6 cell-md-push-1">
              <div class="heading">E-mail:</div>
              <p class="font-accent"><a href="mailto:#">info@demolink.org</a></p>
              <ul class="list-inline">
                <li><a href="#" class="icon fa-facebook"></a></li>
                <li><a href="#" class="icon fa-twitter"></a></li>
                <li><a href="#" class="icon fa-instagram"></a></li>
                <li><a href="#" class="icon fa-google-plus"></a></li>
              </ul>
            </div>
            <div class="offset-top-30 offset-md-top-0 cell-sm-6 cell-lg-4 cell-md-3"><a href="./" class="logo">Wedding Planner</a>
              <p class="muted font-accent">© <span id="copyright-year"></span> | <a href="privacy.html">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  <!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager --></body>
</html>