
<!DOCTYPE html>
<html lang="en" class="wide wow-animation">
  <head>
    <!-- Site Title-->
    <title>Home</title>
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <script src="/cdn-cgi/apps/head/3ts2ksMwXvKRuG480KNifJ2_JNM.js"></script><link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <!-- Stylesheets-->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Playfair+Display:400,700,400italic,700italic,900,900italic%7CMontserrat:400,700">
    <link rel="stylesheet" href="css/style.css">
		<!--[if lt IE 10]>
    <div style="background: #212121; padding: 10px 0; box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3); clear: both; text-align:center; position: relative; z-index:1;"><a href="https://windows.microsoft.com/en-US/internet-explorer/"><img src="images/ie8-panel/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <script src="js/html5shiv.min.js"></script>
		<![endif]-->
  </head>
  <body>
    <!-- Page-->
    <div class="page text-center">
      <!-- Page Header-->
      <header class="page-header">
        <!-- RD Navbar-->
        <div class="rd-navbar-wrap">
          <nav data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fullwidth" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="1px" data-lg-stick-up-offset="1px" class="rd-navbar rd-navbar-static">
            <div class="rd-navbar-inner">
              <!-- RD Navbar Panel-->
              <div class="rd-navbar-panel">
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a href="index.html" class="brand-name">Wedding Planner</a></div>
                <div class="rd-navbar-contact-info-wrapper">
                  <div data-rd-navbar-toggle=".rd-navbar-contact-info-inner" class="rd-navbar-collapse-toggle"><span></span></div>
                  <div class="rd-navbar-contact-info-inner"><a href="callto:#" class="rd-navbar-contact-info">1-800-1234-567</a></div>
                </div>
                <!-- RD Navbar Toggle-->
                <div class="rd-navbar-toggle-wrap"><a href="#" data-rd-navbar-toggle=".rd-navbar-nav-wrap, .rd-navbar-panel" class="rd-navbar-toggle-inner"><span class="rd-navbar-toggle-title">MENU</span>
                    <div class="rd-navbar-toggle"><span></span></div></a></div>
              </div>
              <!-- RD Navbar Canvas-->
              <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                  <li class="active"><a href="./">Home</a></li>
                  <li><a href="about.html">About</a></li>
                  <li><a href="services.html">Services</a>
                    <!-- RD Navbar Dropdown-->
                    <ul class="rd-navbar-dropdown">
                      <li><a href="#">Decoration</a></li>
                      <li><a href="#">Entertainment Options</a></li>
                      <li><a href="#">Transportation</a>
                        <!-- RD Navbar dropdown-->
                        <ul class="rd-navbar-dropdown">
                          <li><a href="#">limousine</a></li>
                          <li><a href="#">cortege</a></li>
                          <li><a href="#">crews</a></li>
                          <li><a href="404.html">404</a></li>
                        </ul>
                      </li>
                      <li><a href="#">Special Events</a></li>
                      <li><a href="#">Themed Weddings</a></li>
                      <li><a href="#">Catering</a></li>
                    </ul>
                  </li>
                  <li><a href="blog.html">blog</a></li>
                  <li><a href="contacts.html">Contacts</a></li>
                </ul>
              </div>
              <div class="rd-navbar-canvas"></div>
            </div>
          </nav>
        </div>
        <section class="section-60 section-xl-100">
          <div class="shell">
            <div class="range range-xs-center">
              <div class="cell-sm-10 cell-md-8 cell-lg-6 relative text-sm-left">
                <div class="border-block"><span class="decor"></span>
                  <h1 class="text-ubold">We will plan <br> the wedding <br> of your dreams</h1>
                  <div class="text-center"><a href="contacts.html" class="link link-white">Plan my wedding</a></div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </header>
      <!-- Page Content-->
      <main class="page-content">
        <section class="section-md-110 section-60 text-md-left">
          <div class="shell">
            <div class="range">
              <div class="cell-sm-6 cell-md-3">
                <!-- CountTo-->
                <div data-from="0" data-to="312" class="counter"></div>
                <p class="counter-title text-gray">weddings <br class="veil reveal-md-block">planned</p>
                <hr class="divider divider-md-left">
              </div>
              <div class="cell-sm-6 cell-md-3 offset-top-45 offset-sm-top-0">
                <!-- CountTo-->
                <div data-from="0" data-to="17" class="counter"></div>
                <p class="counter-title text-gray">staff <br class="veil reveal-md-block">members</p>
                <hr class="divider divider-md-left">
              </div>
              <div class="cell-sm-6 cell-md-3 offset-top-45 offset-md-top-0">
                <!-- CountTo-->
                <div data-from="0" data-to="6" class="counter"></div>
                <p class="counter-title text-gray">years <br class="veil reveal-md-block">of experience</p>
                <hr class="divider divider-md-left">
              </div>
              <div class="cell-sm-6 cell-md-3 offset-top-45 offset-md-top-0">
                <!-- CountTo-->
                <div data-from="0" data-to="58237" class="counter"></div>
                <p class="counter-title text-gray">clients <br class="veil reveal-md-block">served</p>
                <hr class="divider divider-md-left">
              </div>
            </div>
          </div>
        </section>
        <section class="bg-wood section-60 section-lg-110">
          <div class="shell">
            <h2>Services</h2>
            <div class="range list-index">
              <div class="cell-sm-6 thumbnail-hover">
                <div class="range">
                  <div class="cell-md-6">
                    <div class="thumbnail"><img src="images/index-02.jpg" width="270" height="270" alt="" class="img-responsive">
                      <div class="caption"><a href="#" class="link link-white">more info</a></div>
                    </div>
                  </div>
                  <div class="cell-md-7 cell-lg-6 cell-md-grab-left-2 text-md-right offset-top-10 offset-md-top-0 z-index-2 no-select">
                    <div class="inset-lg-right-32">
                      <h4 class="text-md-nowrap"><span class="list-index-counter">01</span>Wedding Makeup</h4>
                      <hr class="veil reveal-md-block divider divider-md-right">
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 thumbnail-hover offset-top-60 offset-sm-top-0 offset-md-top-60">
                <div class="range">
                  <div class="cell-md-6">
                    <div class="thumbnail"><img src="images/index-03.jpg" width="270" height="270" alt="" class="img-responsive">
                      <div class="caption"><a href="#" class="link link-white">more info</a></div>
                    </div>
                  </div>
                  <div class="cell-md-6 text-md-left offset-top-10 offset-md-top-0 z-index-2 no-select">
                    <h4 class="text-md-nowrap"><span class="list-index-counter">02</span>Decoration</h4>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 offset-top-60 offset-md-top-72 thumbnail-hover">
                <div class="range">
                  <div class="cell-md-6 cell-md-push-1 cell-md-grab-left-2">
                    <div class="thumbnail"><img src="images/index-04.jpg" width="270" height="270" alt="" class="img-responsive">
                      <div class="caption"><a href="#" class="link link-white">more info</a></div>
                    </div>
                  </div>
                  <div class="cell-md-6 text-md-left z-index-2 no-select offset-top-10 offset-md-top-0">
                    <h4 class="text-md-nowrap"><span class="list-index-counter">03</span>Transportation</h4>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 offset-top-60 offset-md-top-132 thumbnail-hover">
                <div class="range">
                  <div class="cell-md-6 cell-md-push-1 cell-md-grab-left-2">
                    <div class="thumbnail"><img src="images/index-05.jpg" width="270" height="270" alt="" class="img-responsive">
                      <div class="caption"><a href="#" class="link link-white">more info</a></div>
                    </div>
                  </div>
                  <div class="cell-md-middle cell-md-6 text-md-left z-index-2 no-select offset-top-10 offset-md-top-0">
                    <h4 class="text-md-nowrap"><span class="list-index-counter">04</span>Themed Weddings</h4>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 thumbnail-hover offset-top-60 offset-md-top-72">
                <div class="range">
                  <div class="cell-md-preffix-1 cell-lg-preffix-2 cell-md-6 reveal-md-flex">
                    <div class="thumbnail"><img src="images/index-06.jpg" width="270" height="270" alt="" class="img-responsive">
                      <div class="caption"><a href="#" class="link link-white">more info</a></div>
                    </div>
                  </div>
                  <div class="cell-md-bottom cell-md-7 cell-lg-6 cell-md-grab-left-2 text-md-right offset-top-10 offset-md-top-0 z-index-2 no-select">
                    <div class="offset-md-bottom-14">
                      <h4 class="text-md-nowrap"><span class="list-index-counter">05</span>Wedding Catering</h4>
                      <hr class="veil reveal-md-block divider divider-md-right">
                    </div>
                  </div>
                </div>
              </div>
              <div class="cell-sm-6 thumbnail-hover offset-top-60 offset-md-top-132">
                <div class="range">
                  <div class="cell-md-6 cell-md-preffix-1 cell-lg-preffix-2">
                    <div class="thumbnail"><img src="images/index-07.jpg" width="270" height="270" alt="" class="img-responsive">
                      <div class="caption"><a href="#" class="link link-white">more info</a></div>
                    </div>
                  </div>
                  <div class="cell-md-4 text-md-left offset-top-10 offset-md-top-0 z-index-2 no-select">
                    <h4 class="text-md-nowrap"><span class="list-index-counter">06</span>Live Music</h4>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
            </div><a href="services.html" class="offset-top-30 offset-md-top-60 link">view all services</a>
          </div>
        </section>
        <!-- RD Parallax-->
        <section class="rd-parallax context-dark">
          <div data-speed="0.3" data-type="media" data-url="images/index-08.jpg" class="rd-parallax-layer"></div>
          <div data-speed="0" data-type="html" class="rd-parallax-layer">
            <div class="shell section-md-110 section-60">
              <div class="range range-xs-center">
                <div class="cell-md-10 cell-lg-8 relative text-sm-left">
                  <div class="border-block border-block-variant-1"><span class="decor"></span>
                    <h2 class="text-ubold">Save time and money <br class="veil reveal-sm-block"> for happy moments, <br class="veil reveal-sm-block">entrust your wedding <br class="veil reveal-sm-block">cares to us!</h2>
                    <div class="text-center"><a href="contacts.html" class="link link-white">Plan my wedding</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section class="section-md-110 section-60 bg-wood">
          <div class="shell">
            <h2>Our Team</h2>
            <div class="range">
              <div class="cell-xs-6 cell-lg-4">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                  <div class="unit-left"><img src="images/index-09.jpg" width="120" height="120" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body text-sm-left">
                    <h4>Stephanie <br class="veil reveal-lg-block">Cook</h4>
                    <p class="text-gray text-uppercase text-bold text-spacing-100">manager</p>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-xs-6 cell-lg-4">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                  <div class="unit-left"><img src="images/index-10.jpg" width="120" height="120" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body text-sm-left">
                    <h4>Sandra <br class="veil reveal-lg-block">Grant</h4>
                    <p class="text-gray text-uppercase text-bold text-spacing-100">decorator</p>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-xs-6 cell-lg-4 offset-top-30 offset-sm-top-72 offset-lg-top-0">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                  <div class="unit-left"><img src="images/index-11.jpg" width="120" height="120" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body text-sm-left">
                    <h4>Kelly <br class="veil reveal-lg-block">Lucas</h4>
                    <p class="text-gray text-uppercase text-bold text-spacing-100">organizer</p>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-xs-6 cell-lg-4 offset-top-30 offset-sm-top-72">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                  <div class="unit-left"><img src="images/index-12.jpg" width="120" height="120" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body text-sm-left">
                    <h4>Bobby <br class="veil reveal-lg-block">Bowman</h4>
                    <p class="text-gray text-uppercase text-bold text-spacing-100">photographer</p>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-xs-6 cell-lg-4 offset-top-30 offset-sm-top-72">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                  <div class="unit-left"><img src="images/index-13.jpg" width="120" height="120" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body text-sm-left">
                    <h4>Janet <br class="veil reveal-lg-block">Williams</h4>
                    <p class="text-gray text-uppercase text-bold text-spacing-100">visagiste</p>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
              <div class="cell-xs-6 cell-lg-4 offset-top-30 offset-sm-top-72">
                <div class="unit unit-sm-horizontal unit-md-horizontal unit-lg-horizontal">
                  <div class="unit-left"><img src="images/index-14.jpg" width="120" height="120" alt="" class="img-responsive center-block"></div>
                  <div class="unit-body text-sm-left">
                    <h4>Emily <br class="veil reveal-lg-block">Guzman</h4>
                    <p class="text-gray text-uppercase text-bold text-spacing-100">hairdresser</p>
                    <hr class="veil reveal-md-block divider divider-md-left">
                  </div>
                </div>
              </div>
            </div><a href="#" class="offset-top-30 offset-md-top-60 link">VIEW ALL team members</a>
          </div>
        </section>
        <section class="section-md-110 section-60">
          <div class="shell">
            <h2>Testimonials</h2>
            <div class="range range-xs-center text-left">
              <div class="cell-sm-6 cell-md-4">
                <div class="unit unit-horizontal">
                  <div class="unit-left"><img src="images/index-15.jpg" width="70" height="70" alt="" class="img-responsive"></div>
                  <div class="unit-body">
                    <h4>Olivia & James Fowler</h4>
                  </div>
                </div>
                <p class="offset-top-16 font-accent">So many people have told us that our wedding was the most beautiful wedding that they’ve ever attended. Everything was just stunning, and your flower arrangers were really talented. Thank you!</p>
              </div>
              <div class="cell-sm-6 cell-md-4">
                <div class="unit unit-horizontal">
                  <div class="unit-left"><img src="images/index-16.jpg" width="70" height="70" alt="" class="img-responsive"></div>
                  <div class="unit-body">
                    <h4>Hannah & Harry Bates</h4>
                  </div>
                </div>
                <p class="offset-top-16 font-accent">Thank you so much for the fabulous job you did helping our wedding be the best it could be. We had the time of our lives! I enjoyed the day so much more knowing you had our backs. Much love!</p>
              </div>
              <div class="cell-sm-6 cell-md-4 offset-top-45 offset-md-top-0">
                <div class="unit unit-horizontal">
                  <div class="unit-left"><img src="images/index-17.jpg" width="70" height="70" alt="" class="img-responsive"></div>
                  <div class="unit-body">
                    <h4>Emma & Robert Wells</h4>
                  </div>
                </div>
                <p class="offset-top-16 font-accent">Thank you for being such a perfect wedding planner! Everything went so smoothly and we had the most wonderful day. Working with you was a pleasure and it took much of the stress out of the planning process.</p>
              </div>
            </div>
          </div>
        </section>
      </main>
      <!-- Page Footer-->
      <footer class="page-footer">
        <div class="shell text-sm-left">
          <div class="range">
            <div class="cell-sm-6 cell-lg-4 cell-md-3 cell-md-push-1">
              <ul class="list heading">
                <li class="active"><a href="./">HOME</a></li>
                <li><a href="about.html">about</a></li>
                <li><a href="services.html">services</a></li>
                <li><a href="blog.html">blog</a></li>
                <li><a href="contacts.html">contacts</a></li>
              </ul>
            </div>
            <div class="cell-md-3 cell-sm-6 cell-lg-2 cell-md-push-1">
              <div class="heading">Main office:</div>
              <p class="font-accent">4578 Marmora Road, Glasgow D04 89GR</p>
              <div class="offset-top-30 offset-md-top-60 heading">tel.:</div>
              <p class="font-accent"><a href="callto:#">1-800-1234-567</a></p>
            </div>
            <div class="offset-top-30 offset-md-top-0 cell-md-3 cell-lg-2 cell-sm-6 cell-md-push-1">
              <div class="heading">E-mail:</div>
              <p class="font-accent"><a href="mailto:#">info@demolink.org</a></p>
              <ul class="list-inline">
                <li><a href="#" class="icon fa-facebook"></a></li>
                <li><a href="#" class="icon fa-twitter"></a></li>
                <li><a href="#" class="icon fa-instagram"></a></li>
                <li><a href="#" class="icon fa-google-plus"></a></li>
              </ul>
            </div>
            <div class="offset-top-30 offset-md-top-0 cell-sm-6 cell-lg-4 cell-md-3"><a href="./" class="logo">Wedding Planner</a>
              <p class="muted font-accent">© <span id="copyright-year"></span> | <a href="privacy.html">Privacy Policy</a></p>
            </div>
          </div>
        </div>
      </footer>
      <!-- RD Google Map-->
      <div data-zoom="15" data-x="-73.9874068" data-y="40.643180" data-styles="" class="rd-google-map rd-google-map__model">
        <ul class="map_locations">
          <li data-x="-73.9874068" data-y="40.643180">
            <p>9870 St Vincent Place, Glasgow, DC 45 Fr 45.</p>
          </li>
        </ul>
      </div>
      <!-- {%FOOTER_LINK}-->
    </div>
    <!-- Global Mailform Output-->
    <div id="form-output-global" class="snackbars"></div>
    <!-- PhotoSwipe Gallery-->
    <div tabindex="-1" role="dialog" aria-hidden="true" class="pswp">
      <div class="pswp__bg"></div>
      <div class="pswp__scroll-wrap">
        <div class="pswp__container">
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
          <div class="pswp__item"></div>
        </div>
        <div class="pswp__ui pswp__ui--hidden">
          <div class="pswp__top-bar">
            <div class="pswp__counter"></div>
            <button title="Close (Esc)" class="pswp__button pswp__button--close"></button>
            <button title="Share" class="pswp__button pswp__button--share"></button>
            <button title="Toggle fullscreen" class="pswp__button pswp__button--fs"></button>
            <button title="Zoom in/out" class="pswp__button pswp__button--zoom"></button>
            <div class="pswp__preloader">
              <div class="pswp__preloader__icn">
                <div class="pswp__preloader__cut">
                  <div class="pswp__preloader__donut"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
            <div class="pswp__share-tooltip"></div>
          </div>
          <button title="Previous (arrow left)" class="pswp__button pswp__button--arrow--left"></button>
          <button title="Next (arrow right)" class="pswp__button pswp__button--arrow--right"></button>
          <div class="pswp__caption">
            <div class="pswp__caption__cent"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- Java script-->
    <script src="js/core.min.js"></script>
    <script src="js/script.js"></script>
  <script type="text/javascript">
 var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-7078796-5']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'https://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();</script>
  <!-- Google Tag Manager --><noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-P9FT69" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript><script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start': new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-P9FT69');</script><!-- End Google Tag Manager --></body>
</html>