<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/css/ion.rangeSlider.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <title>Bootstrap Card with Price Range</title>
</head>
<body>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col">
                            <h5 class="card-title">Service Name </h5>
                        </div>
                        <div class="col">
                            <input type="checkbox" name="" id="">
                            <label for="">Select Service</label>
                        </div>
                    </div>
          
                    
                    
                </div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <label for="priceRange">Price Range:</label>
                            <input type="text" class="price-range" data-id="priceRange" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ion-rangeslider/2.3.1/js/ion.rangeSlider.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script>
    function addRange() {
        $(".price-range").each(function () {
            var customId = $(this).data("id");
            var minPrice = 0;
            var maxPrice = 50000;
            var initialMinPrice = $("#"+customId+"-min").val();
            var initialMaxPrice = $("#"+customId+"-max").val();

            var $priceRange = $(this).ionRangeSlider({
                skin: "sharp",
                type: "double",
                grid: true,
                min: minPrice,
                max: maxPrice,
                from: initialMinPrice,
                to: initialMaxPrice,
                step: 1000,
                prefix: "Rs",
                onFinish: function (data) {
                    $("#"+customId+"-min").val(data.from);
                    $("#"+customId+"-max").val(data.to);
                },
            });
        });
    }

    // Initialize the range slider
    addRange();
</script>
</body>
</html>
